.chart-container {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }

  .chart {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .chart-container {
    height: 200px;
  }
}

.select {
  position: relative;
  margin-top: 1%;
  top: 16px;
  color: grey;
  width: 25%;
  min-width: 250px;
}

.checkcontainer {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  flex-basis: 25%;
  /* Each box takes 25% width */
  height: 200px;
  /* Set a fixed height for the boxes */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.show-content {
  display: block;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parenttrs {
  display: flex;
  top: 0;
  padding: 20px;
  height: 500px;
}

.custom-tooltip {
  background-color: #20348a;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 100%;
  height: 100%;
}

.custom-tooltip1 {
  background-color: #1f69ef;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 100%;
  height: 100%;
}

.custom-tooltip2 {
  background-color: #3367a8;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 100%;
  height: 100%;
}

.custom-tooltip3 {
  background-color: #c18a20;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 100%;
  height: 100%;
}

.custom-tooltip4 {
  background-color: #5ea131;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px;
  width: 100%;
  height: 100%;
}

.Poste {
  margin-top: 10px;
}

.checkboxbox {
  text-align: center;
  flex: 2;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 200;
  width: 20%;
}

.header-chart {
  color: #334d6e;
  font-size: large;
  padding: 16px;
  font-weight: bold;
  display: flex;

  align-items: center;
}

@media (max-width: 768px) {
  .header-chart {
    font-size: small;

    text-align: center;
  }
}

.filterBy {
  color: #334d6e;
  padding-bottom: 15px;
  font-size: 15px;
}

.header-chart1 {
  color: #334d6e;
  font-size: large;
  padding: 16px;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-chartP {
  color: #334d6e;
  font-size: large;
  padding: 16px;
  font-weight: lighter;
  display: flex;

  align-items: normal;
}

.header-data {
  color: #626389;
  font-size: medium;
  padding: 16px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectcont {
  min-height: 75px;
  background-color: #6d6fb3;
  margin-bottom: 1%;
}

.chartfilter {
  display: flex;
  margin-top: 10px;
}

.chart {
  width: 75%;
  /* Other styles for the first div */
}

.checkcontainer {
  display: flex;
}

.checkboxdiv {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

.collapsible-taux {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  width: 250%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  height: 400px; /* change this value according to your needs */
}

.collapsible-tauxT {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  height: 60px;
}

.collapsible-table {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  margin-top: 0.5rem;
  height: 60px;
  cursor: pointer;
}

.parent-container {
  display: flex;
  justify-content: space-between;
}
.parent-container1 {
  display: flex;
}

.filter-component {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.filter-component1 {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  height: 340px;
  width: 450px;
  overflow: hidden;
}

.search-component {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}

.selectcont {
  border: 3px solid transparent;
  box-shadow: 0 0 10px rgba(76, 78, 161, 0.3);
  border-radius: 8px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.collapsible-container {
  max-height: 265px;
  max-width: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header-chart1 span,
.header-data span {
  display: inline-block;
  width: 30%; /* You can adjust this value to make sure they align properly */
  text-align: left; /* Align text to the left or center, as needed */
}

/* You can adjust the width of individual columns if necessary */
.header-chart1 span:nth-child(1),
.header-data span:nth-child(1) {
  width: 20%;
}

.header-chart1 span:nth-child(2),
.header-data span:nth-child(2) {
  width: 30%;
}

.header-chart1 span:nth-child(3),
.header-data span:nth-child(3) {
  width: 20%;
}

.selected-post {
  background-color: #f0f0f0; /* Or any other color you prefer */
}

.header-chart,
.header-chartP {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  padding-left: 65px;
  width: 120px;
  height: 120px;
}

.pie-chart-container {
  width: 180px;
  height: 180px;
  margin-top: -15px;
  margin-left: 5px;
}
