.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .item {
    padding: 20px;
    text-align: center;
  }
  .headertaux {
    color:white;
    font-size:large;
    padding: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
  .collapsible-box{
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
  }
  .parenttrs {
    display: flex;
    top:0;
    padding: 20px;
    height: 300px;
  }
  .insidetaux{
    width: 100%;
  }
  
  .perc {
    display: flex;
    top:0;
    padding: 20px;
  }

  .ctd{
    background-color: #19ACA3;
  }
  .cbtd{
    border: 3px solid #1F69EF;
  }
  .ctd1{
    background-color: #8ADEAC;
  }
  .cbtd1{
    border: 3px solid #8ADEAC;
  }
  
  .ctd2{
    background-color: #9E4FFF;
  }
  .cbtd2{
    border: 3px solid #9E4FFF;
  }
  .ctd3{
    background-color: #5EA131;
  }
  .cbtd3{
    border: 3px solid #5EA131;
  }