.footer {
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footerd {
  position: sticky;
  bottom: 0;
  width: 100%;
  color: white;
  height: 3%;
  background-color: #363A4A;
  width: 120%; 
  margin-left: -25px;
  padding-left: 15px;
  margin-bottom: -40px;
  
}