.collapsible-box {
    display: flex;
    flex-direction: column;
    
  }

  @media (max-width: 768px) {
    .collapsible-box {
      
    }
    
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* Add additional styles as needed */
  }
  
  .content {
    display: none;
    /* Add additional styles as needed */
    
  }
  
  .show-content {
    display: block;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    /* Add additional styles as needed */
  }
  
  .parent {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* Add additional styles as needed */
  }
  
  .box {
    flex: 1 0 50%;
    min-width: 100px;
    max-width:13%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -4%;
    margin-bottom: -1.5%;
 
  }


  @media (max-width: 768px) {
    .box {
      flex: 1 0 100%; 
      max-width: 100%; 
      margin-left: 10px; 
      margin-right: 10px; 
      margin-top: 10px; 
      padding-top: 10px;
      margin-bottom: 5%; 
      display: none;

    }
  }

  .box4 {
    flex: 1 0 50%;
    min-width: 100px;
    max-width:13%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -4%;
    margin-bottom: -1.5%;
 
  }


  @media (max-width: 768px) {
    .box4 {
      flex: 1 0 100%; 
      max-width: 50%; 
      margin-left: 10px; 
      margin-right: 10px; 
      margin-top: 10px; 
      padding-top: 10px;
      margin-bottom: 5%; 
      

    }
  }

 

@media only screen and (max-width: 768px) {
  .parent {
    display: none;
  }

  .box {
    flex: 1 0 20%; 
    max-width: 20%; 
    margin-top: 0%; 
    padding-top: -30px;
    margin-bottom: 1%;
  }
  
}
  
  .box-content {
    @media (max-width: 1200px) {
      
    }
  }

  .header-chart3 {
    color: #334D6E;
    font-size: large;
    padding: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .header-chart3 {
      font-size:small; 
      margin-top: -20%;
      text-align: center;
      display: none;
      
    }
  }
  
 
  
  
  