.collapsible-box {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* Add additional styles as needed */
  }
  
  .content {
    display: none;
    /* Add additional styles as needed */
    
  }
  
  .show-content {
    display: block;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    /* Add additional styles as needed */
  }
  
  .parent {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* Add additional styles as needed */
  }
  
  .box {
    flex: 1 0 50%;
    min-width: 100px;
    max-width:13%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -4%;
    margin-bottom: -1.5%;
    /* Add additional styles as needed */
  }

  
/* This media query will target screens with a max width of 768px */
@media only screen and (max-width: 768px) {
  .parent {
     /* Stacks children vertically */
  }

  .box {
    flex: 1 0 20%; /* Adjusts to 2 boxes per row on smaller screens */
    max-width: 20%; /* Allows boxes to fill half the width of the screen */
    margin-top: 0%; 
    padding-top: -30px;
    margin-bottom: 1%;
  }
  
}
  
  .box-content {
 
  }

  
 
  
  
  